# Application Environment Configuration
ENVIRONMENT=development
DEBUG=true
API_V1_PREFIX=/api/v1
CORS_ORIGINS=http://localhost:3000,http://localhost:3001


# JWT Configuration for Token-Based Authentication
# JWT_SECRET_KEY should be a strong, randomly generated string (use: openssl rand -hex 32)
JWT_SECRET_KEY=your_secret_key_here_minimum_32_characters_recommended
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440

# Redis Configuration (Optional - for caching)
REDIS_URL=redis://localhost:6379

# Database Configuration - Supabase Session Pooler for IPv4 Support
DATABASE_URL=postgresql+asyncpg://postgres.wgasdf:AMCKvUvf@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres
# JWT_SECRET_KEY = 23412379b2387b238u8723u187eb8y2b86g*&^y
SUPABASE_URL=https://vlupywockwfvcdascwesn.supabase.co
SUPABASE_KEY=sb_publishable_-IpzMGaweweiWc8qkvA_qLDu5k6G
